{{#> layout currentPage="Contact"}}
  

<div id="mobile-menu-list" class="mobile-menu-list mobile-menu-hide">
    <a href="index.html">Home</a>
    <a href="blog.html">Blog</a>
    <a href="contact.html" class="menu-active">Contact Me</a>
</div>
  
   <form class="contact-form" onsubmit="submitForm(event)">
    <h1>Contact Me !</h1>
    <div class="form-field">
        <label label for="name">name</label>
        <input id="name" type="text" required>
    </div>

    <div class="form-field">
        <label label for="email">email</label>
        <input id="email" type="text" required>
    </div>
       
    <div class="form-field">
        <label label for="subject">subject</label>
        <input id="subject" type="text" required>
    </div>
       
    <div class="form-field">
        <label label for="skill">skill</label>
        <select id="skill" required>
            <option value="">Select any skill...</option>
            <option value="Frontend">Frontend</option>
            <option value="Backend">Backend</option>
        </select>
    </div>
       
    <div class="form-field">
        <label label for="message">message</label>
        <textarea id="message" required></textarea>
    </div>
       
       <button type="submit">submit</button>
       
   </form>

{{/layout}}