<!DOCTYPE html>
<html>
<head>
    <title>Task One</title>
    <link rel="icon" href="Assets/img/icon org.jpg"/>
    <script src="https://kit.fontawesome.com/85af102d73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Assets/css/style.css" />
   <style>
    .profile-card {
        border-style:solid; 
        border-color: #aaa;
        border-radius: 15px;
        box-shadow: 10px 0px 18px #aaa;
        width: 400px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 100px auto;
    }
    
    </style>
</head>
<body>
   <!--NAVBAR-->
   <nav>
    <div class="main-menu">

    <ul class="navbar-links">
        <img style="width: 80px;" src="Assets/img/logo web.png">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="blog.html">Blog</a>
        </li>

    </ul>
    <a class="nav-contact-button" href="contact.html">Contact Me</a>

</div>
<div class="mobile-menu">
    <img style="width: 80px;" src="Assets/img/logo web.png" />
    <button id="hamburger-buotton" class="hamburger-button">☰</button>
</div>

</nav>

<div id="mobile-menu-list" class="mobile-menu-list mobile-menu-hide">
    <a href="index.html">Home</a>
    <a href="blog.html">Blog</a>
    <a href="contact.html" class="menu-active">Contact Me</a>
</div>
  
   <form class="contact-form" onsubmit="submitForm(event)">
    <h1>Contact Me !</h1>
    <div class="form-field">
        <label label for="name">name</label>
        <input id="name" type="text" required>
    </div>

    <div class="form-field">
        <label label for="email">email</label>
        <input id="email" type="text" required>
    </div>
       
    <div class="form-field">
        <label label for="subject">subject</label>
        <input id="subject" type="text" required>
    </div>
       
    <div class="form-field">
        <label label for="skill">skill</label>
        <select id="skill" required>
            <option value="">Select any skill...</option>
            <option value="Frontend">Frontend</option>
            <option value="Backend">Backend</option>
        </select>
    </div>
       
    <div class="form-field">
        <label label for="message">message</label>
        <textarea id="message" required></textarea>
    </div>
       
       <button type="submit">submit</button>
       
   </form>

   <script src="Assets/js/belajar-js.js"></script>
   <script src="Assets/js/contact-form.js"></script>
   <script src="Assets/js/navbar.js"></script>
</body>
</html>