 {{#> layout currentPage="Home"}}
    <main class="main-content">
    
        <!-- PROFILE CARD -->
        <section id="card-section">
          <div class="profile-card">


            <h1 style="color:black">Hello Everyone Welcome To My Hut</h1>

            <p>
                I am currently 24 years old. I graduated with a Bachelor of Economics from Raden Intan Lampung State
                Islamic University majoring in Sharia Business Management. I am active in the organization as Head of
                the Education Division.  
            </p>


            <a href="mailto: abdurrahmanfaqih73@gmail.com" target="_blank"></a>
            <button style="border-radius: 15px; width: 30%; height: 40px">Contact Me</button><br>

            <div style="
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 1em auto;
        justify-content: center;">
                <i class="fa-brands fa-facebook fa-3x"></i>

                <i class="fa-brands fa-whatsapp fa-3x"></i>

                <i class="fa-brands fa-linkedin fa-3x"></i>

            </div>


            <img style="border-radius: 15px; width: 100%" src="/img/gambar2.jpg">


            <h2 style="color:black">M Abdurrahman Faqihudin</h2>
            <h3 style="color:black">Konsultan Pengawas</h3>

          </div>
        </section>
        <!-- INTRODUCTION SECTION -->
        <section id="introduction">
            <div id="what-i-do">
            <h1>What I Do</h1>
            <p>
                I am currently 24 years old. I graduated with a Bachelor of Economics from Raden Intan Lampung State
                Islamic University majoring in Sharia Business Management. I am active in the organization as Head of
                the Education Division for the period 2021 - 2022 and am able to carry out all division work programs.
            </p>
            </div>

            <!-- TECHNOLOGIES -->
            <div id="technologies">
                <div id="frontend">
                    <img src="/img/js.png" alt="">
                    <h2>Forntend Developer</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sit assumenda pariatur, cupiditate fuga totam magni repellendus minus quasi. 
                    </p>
                </div>
                <div id="version-control">
                    <img src="/img/git.png" alt="">
                    <h2>Version Control</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sit assumenda pariatur, cupiditate fuga totam magni repellendus minus quasi. 
                    </p>
                </div>
                <div id="automated-deployment">
                    <img src="/img/deploy.png" alt="">
                    <h2>Automated Deploy</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sit assumenda pariatur, cupiditate fuga totam magni repellendus minus quasi. 
                    </p>
                </div>
            </div>

            <!-- SOCIALS -->
            <div id="socials">
                <h2>Find Me On</h2>
                <div>
                    <a href="#">
                        <img src="/img/facebook.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/twitter.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/instagram.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/mail.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/whatsapp.png" alt="">
                    </a>
                </div>

            </div>
        </section>
    </main>
    {{/layout}}