<!DOCTYPE html>
<html>

<head>
    <title>Task One</title>
    <link rel="icon" href="/img/icon org.jpg" />
    <script src="https://kit.fontawesome.com/85af102d73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" />

    <link 
    href="/css/bootstrap/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous"
    />
    
    

</head>

<body>
    <!--NAVBAR-->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/logo dumbways.jpg" alt="Personal web" width="50">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="testimonials.html">Testimonials</a>
              </li>
             
            </ul>
            <a class="btn btn-primary" href="contact.html">Contact Me</a>
          </div>
        </div>
      </nav>

    <main class="main-content">
    
        <!-- PROFILE CARD -->
        <section id="card-section">
          <div class="profile-card">


            <h1 style="color:black">Hello Everyone Welcome To My Hut</h1>

            <p>
                I am currently 24 years old. I graduated with a Bachelor of Economics from Raden Intan Lampung State
                Islamic University majoring in Sharia Business Management. I am active in the organization as Head of
                the Education Division for the period 2021 - 2022. I have work experience as an inspector at CV. Hujan Anugerah Kreasindo. I am skilled in using Microsoft Word, Excel Intermediate, PowerPoint, Canva, Google Drive and Google Document. 
            </p>


            <a href="mailto: abdurrahmanfaqih73@gmail.com" target="_blank"></a>
            <button style="border-radius: 15px; width: 30%; height: 40px">Contact Me</button><br>

            <div style="
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 1em auto;
        justify-content: center;">
                <i class="fa-brands fa-facebook fa-3x"></i>

                <i class="fa-brands fa-whatsapp fa-3x"></i>

                <i class="fa-brands fa-linkedin fa-3x"></i>

            </div>


            <img style="border-radius: 15px; width: 100%" src="/img/faqih 1.jpeg">


            <h2 style="color:black">M Abdurrahman Faqihudin</h2>
            <h3 style="color:black">Konsultan Pengawas</h3>

          </div>
        </section>
        <!-- INTRODUCTION SECTION -->
        <section id="introduction">
            <div id="what-i-do">
            <h1>What I Do</h1>
            <p>
                I am currently 24 years old. I graduated with a Bachelor of Economics from Raden Intan Lampung State
                Islamic University majoring in Sharia Business Management. I am active in the organization as Head of
                the Education Division for the period 2021 - 2022 and am able to carry out all division work programs. I
                have work experience as an inspector at CV. Hujan Anugerah Kreasindo. I am skilled in using Microsoft
                Word, Excel Intermediate, PowerPoint, Canva, Google Drive and Google Document. 
            </p>
            </div>

            <!-- TECHNOLOGIES -->
            <div id="technologies">
                <div id="frontend">
                    <img src="/img/js.png" alt="">
                    <h2>Forntend Developer</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sit assumenda pariatur, cupiditate fuga totam magni repellendus minus quasi. 
                    </p>
                </div>
                <div id="version-control">
                    <img src="/img/git.png" alt="">
                    <h2>Version Control</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sit assumenda pariatur, cupiditate fuga totam magni repellendus minus quasi. 
                    </p>
                </div>
                <div id="automated-deployment">
                    <img src="/img/deploy.png" alt="">
                    <h2>Automated Deploy</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor sit assumenda pariatur, cupiditate fuga totam magni repellendus minus quasi. 
                    </p>
                </div>
            </div>

            <!-- SOCIALS -->
            <div id="socials">
                <h2>Find Me On</h2>
                <div>
                    <a href="#">
                        <img src="/img/facebook.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/twitter.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/instagram.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/mail.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/img/whatsapp.png" alt="">
                    </a>
                </div>

            </div>
        </section>
    </main>
    <script src="/js/navbar.js"></script>
    <!-- <script src="/js/learning/javascript-basics.js"></script> -->
    <!-- <script src="/js/learning/1.class.js"></script> -->
    <!-- <script src="/js/learning/2.object.js"></script> -->
    <!-- <script src="/js/learning/3.inheritance.js"></script> -->
    <!-- <script src="/js/learning/4.polymorphism.js"></script> -->
    <!-- <script src="/js/learning/5.abstraction.js"></script> -->
    <script src="/js/learning/9.3.ajax.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>

</html>