{{#> layout currentPage="Testimonials"}}

    <!-- MAIN CONTENT TESTIMONIAL -->

    <main>
        <h1 style="text-align: center">My Testimonials</h1>
        <h3 style="text-align: center">Rating By Stars</h3>

        <!-- Stara Button -->
        <div class="testimonial-star-buttons">
            <button onclick="showAllTestimonials()">All</button>
            <button onclick="filterTestimonialsByStar(1)">1★</button>
            <button onclick="filterTestimonialsByStar(2)">2★</button>
            <button onclick="filterTestimonialsByStar(3)">3★</button>
            <button onclick="filterTestimonialsByStar(4)">4★</button>
            <button onclick="filterTestimonialsByStar(5)">5★</button>
        </div>

        <!-- TESTIMONIAL LIST -->
         <div id="testimonialsContainer" class="testimonial-list">
            <!-- <article>
                <img src="/img/1.jpg" alt="testimonial-image">
                <p class="testimonial-item-caption">
                    <i>"Keren banget websitenya!"</i>
                </p>
                <p style="text-align: right">- Faqihudin</p>
                <p style="text-align: right; font-weight: bold" >5★</p>
            </article> -->
            <p>Loading...</p>
         </div>
    </main>

    <script src="/js/testimonials.js"></script>
    {{/layout}}